<ion-header>
  <ion-toolbar>
    <ion-title>free rides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-text color="dark">
        <h5>Send your friendes free rides</h5>
      </ion-text>
      Share the Uber love and give fiednds free rides to try Uber worth to rs25 each!
    </ion-card-header>
    <ion-card-content>
     <a href="#"> How Invites Work</a>

     <img src='http://localhost/tripbok/storage/app/public/media/freeride.png'/>

     shere your invite code
     <ion-button expand="block" color="light">HGbuy6</ion-button>
     <!-- <ion-input value="Readonly" readonly style="border: solid 1px gray;" click="test()"></ion-input> -->
     <ion-button expand="block">Whatapp</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
