<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="selectContacts($event)" class="" title="{{item.number}}" >
      {{item.name}}
      <ion-note slot="end" class="">
        <span class="checkbox checkhide">
          <div class="checkmark_circle"></div>
          <div class="checkmark_stem"></div>
          <div class="checkmark_kick"></div>
        </span>
      </ion-note>
    </ion-item>

  </ion-list>
</ion-content>
