<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-header>
        <img src='http://localhost/tripbok/storage/app/public/media/trip/32/route.png'/>
    </ion-card-header>
    <ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                  <div>{{trips_detail?.start_time}}</div>
                  <div> {{trips_detail?.vehicle_name + '  '+ trips_detail?.vehicle_type}}</div>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                 ${{trips_detail?.fare}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-subtitle>
    <ul style="list-style-type:circle; font-size:15px;">
      <li>{{trips_detail?.full_to}}</li>
    </ul>
    <ul style="list-style-type:square; font-size:15px;">
      <li>{{trips_detail?.full_from}}</li>
    </ul>
    <div class="card">
      <ion-grid>
          <ion-row routerLink="/driver-detail/{{trips_detail?.driver_id}}" routerDirection="forward">
            <ion-col>
              <div class="ion-text-start">
                <ion-avatar>
                  <ion-img src="http://localhost/tripbok/storage/app/public/media/user.jpg"></ion-img>
                </ion-avatar>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-start">
                You rated {{trips_detail?.driver_name}}
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-start" [innerHTML]="trips_detail?.driver_rating">
                {{trips_detail?.driver_rating}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
    <div class="ion-text-start">
      <br>
      Need help with this trip?
    </div>
    <ion-slides>
      <ion-slide *ngFor="let trip of policies">
        <ion-card-content>
          <img src="{{trip.src}}" alt="">
        </ion-card-content>
      </ion-slide>
    </ion-slides>
      <!-- Default Segment -->
      <ion-segment>
        <ion-segment-button value="helps" (click)="toggleModule('helps')">
          <ion-label>Helps</ion-label>
        </ion-segment-button>
        <ion-segment-button value="receipt"  (click)="toggleModule('receipt')">
          <ion-label>Receipt</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div id="helps" class="hidden" style="width:100%">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div id="receipt" class="hidden" style="width:100%">
        <h5>Go to receipt</h5>
          <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <div class="ion-text-start">
                    Trip Fare
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="ion-text-end">
                   $ {{trips_detail?.fare}}
                  </div>
                </ion-col>
                <ion-col size="8">
                    <div class="ion-text-start">
                      Total
                    </div>
                  </ion-col>
                  <ion-col size="4">
                    <div class="ion-text-end">
                     $ {{trips_detail?.fare}}
                    </div>
                  </ion-col>
                  <ion-col size="8">
                      <div class="ion-text-start">
                        Payment
                      </div>
                    </ion-col>
                    <ion-col size="4">
                      <div class="ion-text-end">
                       $ {{trips_detail?.fare}}
                      </div>
                    </ion-col>
              </ion-row>
            </ion-grid>
      </div>
  </ion-card-content>
</ion-content>
