<ion-content color="light" padding>
	<form #form="ngForm" (ngSubmit)="login(form)">
		<ion-grid>
		<ion-row color="light" justify-content-center>
			<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h3>Login</h3>
			</div>
			<div padding>
				<ion-item>
				<ion-input name="email" type="email" placeholder="your@email.com" ngModel required (ionFocus)="checkFocus('email')"></ion-input>
				</ion-item>
				<span *ngIf="validation_error.email" style="color:red;" [innerHTML] ="validation_error.email">	
				</span>
			</div>
			<div padding>
				<ion-item>
				<ion-input name="password" type="password" placeholder="Password" ngModel required (ionFocus)="checkFocus('email')"></ion-input>
				</ion-item>
				<span *ngIf="validation_error.password" style="color:red;"  [innerHTML] ="validation_error.password">
				</span>
			</div>
			<div padding>
				<ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
				<a href="register" secondary clear item-right>
				new User
				</a>
			</div>
			</ion-col>
		</ion-row>
		</ion-grid>
	</form>
</ion-content>