<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="settings"></ion-back-button>
      </ion-buttons>
    <ion-title>Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <!-- <ion-label>
      Item
    </ion-label> -->
  </ion-item>
  <ion-item routerLink="/twostepvarivication">
    <ion-label>
      <h5>2-step verification</h5>
    </ion-label>
    <ion-note slot="end">Unavailable</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
        <p>Unfortunately 2 step verification is Unavailable at this moment .</p>
      <p>When this is on, you will be asked for your password and verification code when you sign  in to your account.</p>
    </ion-label>
  </ion-item>
</ion-content>
