<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<input type="hidden" name="previousLink" id="previousLink" value=""/>
	<input type="hidden" name="eBookingFrom" id="eBookingFrom" value="Admin" />
	<input type="hidden" name="backlink" id="backlink" value="cab_booking.php"/>
	<input type="hidden" name="distance" id="distance" value="">
	<input type="hidden" name="duration" id="duration" value="">
	<!-- form -->
	<input type="hidden" name="data[Trip][from_lat_long]" id="from_lat_long" value="" >
	<input type="hidden" name="data[Trip][from_lat]" id="from_lat" value="" >
	<input type="hidden" name="data[Trip][from_long]" id="from_long" value="" >
	<input type="hidden" name="data[Trip][to_lat_long]" id="to_lat_long" value="" >
	<input type="hidden" name="data[Trip][to_lat]" id="to_lat" value="" >
	<input type="hidden" name="data[Trip][to_long]" id="to_long" value="" >
	<!-- form  -->
	<input type="hidden" name="fNightPrice" id="fNightPrice" value="" >
	<input type="hidden" name="fPickUpPrice" id="fPickUpPrice" value="" >
	<input type="hidden" name="eFlatTrip" id="eFlatTrip" value="" >
	<input type="hidden" name="fFlatTripPrice" id="fFlatTripPrice" value="" >
	<input type="hidden" value="1" id="location_found" name="location_found">
	<input type="hidden" value="" id="user_type" name="user_type" >
	<input type="hidden" value="" id="iUserId" name="iUserId" >
	<input type="hidden" value="" id="eStatus" name="eStatus" >
	<input type="hidden" value="Pacific/Honolulu" id="vTimeZone" name="vTimeZone" >
	<input type="hidden" value="US" id="vRideCountry" name="vRideCountry" >
	<input type="hidden" value="" id="iCabBookingId" name="iCabBookingId" >
	<input type="hidden" value="AIzaSyCXxuaZD88IKBShrKBPezrE1dHho2hxuPs" id="google_server_key" name="google_server_key" >
	<input type="hidden" value="" id="getradius" name="getradius" >
	<input type="hidden" value="KMs" id="eUnit" name="eUnit" >
	<input type="hidden" name="fTollPrice" id="fTollPrice" value="">
	<input type="hidden" name="vTollPriceCurrencyCode" id="vTollPriceCurrencyCode" value="">
	<input type="hidden" name="eTollSkipped" id="eTollSkipped" value="">
	<input type="hidden" value="" id="eType" name="eType" />
	<input type="hidden" name="baseurl" id="baseurl" value="">
	<input type="hidden" name="iDriverId_temp" id="iDriverId_temp">
	<input type="hidden" name="newType" id="newType" value="">
	<input type="hidden" name="submitbtn" id="submitbtn">
	<div class="form-group">
		<input type="text" class="form-control" id="from" placeholder="From">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" id="to" placeholder="To">
	</div>
    <div class="row">
      <div class="col-md-12">
        <div #map id="map" class="iframe-container"></div>
      </div>
	</div>
	<div class="row" >
		<button type="button" class="col-sm-12 btn btn-dark btn-lg" id="confirmBooking">Booking Confirm</button>
	</div>
</ion-content>
