<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item routerLink="/edit-profile">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
      <ion-label>Favorites</ion-label>
  </ion-item>
  <ion-item (click)="fetchDeviceContact()">
      <ion-label>Trusted Contents</ion-label>
  </ion-item>

  <!-- <ion-select>
      <ion-option *ngFor="let contact of contactlist" value="{{contact.phoneNumbers}}">{{contact.displayName}}</ion-option>
  </ion-select> -->
  <!-- <ion-item>
    <ion-label>Trusted Contents</ion-label>
    <ion-select value="" >
      <ion-select-option *ngFor="let contact of contactlist" value="{{contact.phoneNumbers}}">{{contact.displayName}}</ion-select-option>
    </ion-select>
  </ion-item> -->
  <select>
    <!-- <option *ngFor="let contact of contactlist" value="{{contact.phoneNumbers}}">{{contact.displayName}}</option> -->
    <option  *ngFor="let contact of contactlist | keyvalue" value="{{contact.key}}">{{contact.value}}</option>
  </select>
    <ion-button color="light" (click)="LogOut()">Log Out</ion-button>
</ion-content>
