<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item routerLink="/edit-profile">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
      <ion-label>Favorites</ion-label>
  </ion-item>
  <ion-item routerLink="/contacts">
    <ion-label>
      <h3>Trusted Contents</h3>
      <br>
      <h4><ion-icon name="contacts"></ion-icon>manage Trusted Contacts</h4>
      <p>Share your trip status with family and friends in a single tap.</p>
    </ion-label>  
  </ion-item>
  <ion-item routerLink="/safety">
    <ion-label>
      <h4>Safety</h4>
      <p>Control your safety settings including Ride Check notifications.</p>
    </ion-label>
    
</ion-item>
<ion-item routerLink="/privacy">
  <ion-label>
    <h4>Privacy</h4>
    <p>manage the data you share with us.</p>
  </ion-label>
</ion-item>
<ion-item routerLink="/security">
  <ion-label>
    <h4>Security</h4>
    <p>Control your account security with 2-step verification.</p>
  </ion-label>
</ion-item>
<ion-item (click)="LogOut()">
  <ion-label>
    <h4>Log Out</h4>
  </ion-label>
</ion-item>
</ion-content>
